.popup{
	position: absolute;
	z-index: 5;
	right: 0;
	height: 300px;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	@media(min-width: $screen-xs){
		width: 480px;
	}

	@media(max-width: $screen-xs-max){
		width: 100%
	}

	&__register{
		top: 0;
		background:{
			color: $color-white;
		}
	}

	&__actions-done{
		bottom: 0;
	}
	.actions-done-counter{
		color: $color-orange;
		font: {
			size: 60px;
			weight: 900;
		}
	}
	.add-action-btn{
		color: $color-white;
		padding: 6px 12px;
		cursor: pointer;
		background: rgba($color-black, .5);
		font: {
			size: 25px;
			weight: 300;
		}

		transition: $transition;

		&:hover{
			color: $color-orange;
			background-color: rgba($color-white, .2);
		}

	}
}