.text{
  margin: {
    top: 0;
    bottom: 15px;
  }
  line-height: 16px;
  font:{
    size: 14px;
  }
  color: $color-black;

  a{
    color: $color-blue;
    transition: $transition;

    &:hover{
      color: $color-red;
    }
  }
}