/* 
 * Def's
 */
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $roboto;

  background: {
    image: url("/images/bg.jpg");
    position: 50% bottom;
    size: cover;
    repeat: no-repeat;
    attachment: fixed;
  }
}
#wrapper{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: {
    left: 30px;
    right: 30px;
  } 

  @media(max-width: $grid-tablet){
    padding: {
      left: 15px;
      right: 15px;
    }
  }
}

#header,
#footer{
  width: calc(100% - 60px);
  margin: 30px;

  transition: $transition;
  font:{
    size: 14px;
  }
  text-transform: uppercase;
}

*{
  box-sizing: border-box;
}

.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}

.left{
  float: left;
}
.right{
  float: right;
}

