/* Colors */
$color-white: #f6f6f6; 
$color-black: #111517;
$color-gray: #5b5b5b;
$color-orange: #ffc107;
$color-red: #f44336;
$color-blue: #2196f3;
$color-lightblue: #03a9f4;

$roboto: 'Roboto', sans-serif;

$shadow: 0 1px 1px rgba($color-black, .1);

/* button */
$button-radius: 35px;
$button-shadow: 0 2px 2px 0 rgba($color-black, .7);

/* Etc */
$transition: all .25s ease-in-out;

/* Radiuses */ 
$radius-circle: 50%; 
$chat-message-radius: 5px;

/* Mediaquery */ 
$screen-xs: 480px;
$screen-xs-max: $screen-xs - 1;

$screen-sm: 780px;
$screen-sm-max: $screen-sm - 1;

$screen-md: 990px;
$screen-md-max: $screen-md - 1;

$screen-lg: 1240px;
$screen-lg-max: $screen-lg - 1;

$screen-xl: 1400px;
$screen-xl-max: $screen-xl - 1;

