/* Colors */
$color-white: #f6f6f6; 
$color-black: #111517;
$color-gray: #5b5b5b;
$color-orange: #ffc107;

$roboto: 'Roboto', sans-serif;

/* button */
$button-radius: 35px;
$button-shadow: 0 2px 2px 0 rgba($color-black, .7);

/* Etc */
$transition: all .25s ease-in-out;


$circle: 50%; 

$grid-tablet: 991px;

